<div class="contents-header">
  <router-link to="/home" tag="li" class="contents-header-list header-blue">ホーム</router-link>
  <router-link to="/home/all" tag="li" class="contents-header-list header-green">すべて</router-link>
  <router-link to="/home/tag" tag="li" class="contents-header-list header-red">タグ検索</router-link>
</div>