<nav class="m-footer_menu">
  <ul class="m-nav">
    <router-link to="/home" tag="li" class="nav-list"><i class="ion-home" aria-hidden="true"></i></router-link>
    <router-link to="/home/all" tag="li" class="nav-list"><i class="ion-search" aria-hidden="true"></i></router-link>
    <li class="nav-list"><i class="ion-camera" aria-hidden="true"></i></li>
    <li class="nav-list"><i class="ion-pricetags" aria-hidden="true"></i></li>
  </ul>
</nav>