<div id="app">
  <side-menu></side-menu>
  <div class="contents">
    <%= render 'content_header' %>
    <% if flash[:notice] %>
        <div class="flash">
          <%= flash[:notice] %>
        </div>
    <% end %>
    aaaaa
  </div>
</div>
<%= javascript_pack_tag 'home' %>
