// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.side-menu-list {
  color: #fff;
}

.moving-arrow {
  border-right: 17px solid #f4f3ef;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  display: inline-block;
  position: absolute;
  right: 0;
  transition: all 0.5s cubic-bezier(0.29, 1.42, 0.79, 1);
}

.contents {
  margin: 0 0 0 300px;
  background-color: #f4f3ef;
  .contents-header {
    height: 57px;
    border-bottom: 1px solid #DDD;
  }
  .contents-footer {
    height: 57px;
    border-top: 1px solid #DDD;
    .heart {
      padding: 0 5px;
      color: #EB5E28;
    }
  }
}