$breakpoints: (
        'sm': 'screen and (max-width: 400px)',
        'md': 'screen and (max-width: 768px)',
        'lg': 'screen and (max-width: 1000px)',
        'xl': 'screen and (max-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}